<a href="<%= this.model.escape("url") %>" target="_blank">
  <div class="article-title">
    <%= this.model.escape("title") %>
  </div>
</a>

<div class="article-summary">
  <%= this.model.escape("summary") %>
</div>
