<a href="<%= model.escape("url") %>" target="_blank">
  <div class="article-title">
    <%= model.escape("title") %>
  </div>
</a>


<%= JST["shared/published_date"]({ date: model.escape("published") }) %>
