<a href="<%= this.model.escape("url") %>">
  <div class="article-title">
    <%= this.model.escape("title") %>
  </div>

  <div class="article-summary">
    <%= this.model.escape("summary") %>
  </div>
</a>
