<div class="security-show left col-md-4 col-sm-12 col-xs-12"></div>
<div class="security-show right col-md-8 col-sm-12 col-xs-12">
  <div class="security-show top row"></div>
  <div class="security-show bottom row"></div>
</div>
