<div class="article-header">
  Articles for <%= model.escape("symbol") %>
</div>

<ul class="article-feed"></ul>

<div class="post-index placeholder-text">
  No entries.
  <% if (model.escape("status")) { %>
   <%=  "No securities found by symbol " + model.escape("symbol") %>
 <% } else { %>
   <%= "Fetching news. Please wait..." %>
 <% } %>
</div>
