<div class="published-date">
  <% var pub_date = new Date( date ) %>
  <% var today = new Date() %>
  <% if (pub_date.getDate() === today.getDate()) { %>
    Today, <%= /\d+:\d+/.exec(pub_date)[0] %>
  <% } else if (today.setDate(today.getDate() - 1) && pub_date.getDate() === today.getDate()) { %>
    Yesterday, <%= /\d+:\d+/.exec(pub_date)[0] %>
  <% } else { %>
    <%= pub_date.toDateString() %>
  <% } %>
  <% if (typeof author !== "undefined") {%>
    ■ by <%= author %>
  <% } %>
</div>
