<nav class="navbar navbar-fixed-top">
  <div class="container container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li class="navbar-brand" id="navbar-brand">
        <a href="#">dbAlpha</a>
      </li>
      <% if ( !DbAlpha.Models.user.isNew() ) { %>
        <li class=""><div class="nav-box nav-search"><input class="typeahead" type="text" placeholder=" search"></div>
      <% } %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if ( !DbAlpha.Models.user.isNew() ) { %>
      <li class="">
        <div class="dropdown nav-name">
          <div class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            navigate to
            <span class="caret"></span>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li>
              <a href="#/securities" class='btn'>Market View</a>
            </li>
            <li>
              <a href="#/homepage" class='btn'>My Dashboard</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item username">Welcome, <%= DbAlpha.Models.user.escape("username") %></li>
      <li class="nav-item sign-out">Sign Out</li>
      <% } else { %>
      <li class="nav-item sign-up">Sign Up</li>
      <li class="nav-item sign-in">Sign In</li>
      <% } %>
    </ul>
  </div>
</nav>
