<div class="post-index-title">
  <span>
    <%= (model) ? "Notes and entries on " + model.escape("symbol") : "My notes and entries:"%>
  </span>
  <div class="post-index-new">new</div>
</div>

<ul class="post-index-list"></ul>

<div class="post-index placeholder-text post-index-new">
  No entries <%= (model) ? "on " + model.escape("symbol") : "" %>
  <br>Please click to add one.
</div>
