<div class="post-title"><%= model.escape("title") %></div>

<% if (model.escape("note")) { %>
<div class="post-node">
  <%= model.escape("note") %>
</div>
<% } %>

<div class="post-body" data-provide="markdown-editable"><%= model.escape("body") %></div>
