<div class="post-title"><%= model.escape("title") %></div>

<% if (model.escape("editable")) { %>
  <button class="btn edit">Edit</button>
<% } %>

<div class="post-body"><%= model.escape("body") %></div>
