/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
  background-color: #FCFFFF;
}

.navbar {
  background-color: #00306B;
  box-shadow: inset 0px  5px 5px -5px #FFF,
              inset 0px -5px 5px -5px #000;
}

.navbar-nav li .nav-search input {
  color: #000;
  width: 4em;
  transition: width 0.5s;
  margin: 12px;
}

.navbar-nav > li > .nav-search > input:hover,
.navbar-nav > li > .nav-search > input:focus {
  width: 10em;
  transition: width 0.5s;
}

.navbar-nav > .nav-item {
  vertical-align: middle;
  padding: 15px;
  max-height: 50px;
}

#navbar-brand {
  padding: 15px;
  font-weight: bold;
}

.navbar-nav > li {
  color: #FFF;
  padding: inherit;
}

.nav > li:hover {
  background-color: inherit;
  box-shadow: inset 0px  10px 10px -10px,
              inset 0px -10px 10px -10px;
}

.container-fluid {
  min-width: 850px;
}

#dropdownMenu2 {
  padding: 15.5px 38px;
}
