/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
  background-color: #FCFFFF;
  min-width: 600px;
  font-family: "Helvetica Neue", sans-serif;
}

footer,
.navbar {
  background-color: #00306B;
  color: #FFF;
  box-shadow: inset 0px  5px 5px -5px #FFF,
              inset 0px -5px 5px -5px #000;
}

.navbar > .container-fluid {
  min-width: 850px;
}

.navbar-nav li .nav-search input {
  color: #000;
  width: 4em;
  transition: width 0.5s;
  margin: 12px;
}

.navbar-nav > li > .nav-search > input:hover,
.navbar-nav > li > .nav-search > input:focus {
  width: 10em;
  transition: width 0.5s;
}

.navbar-nav > .nav-item {
  vertical-align: middle;
  padding: 15px;
  max-height: 50px;
}

#navbar-brand > a {
  font-size: large;
  font-weight: bold;
  color: #A8CBFF;
}

#navbar-brand > a:focus,
#navbar-brand > a:hover {
  background-color: inherit;
}

.navbar-nav > li {
  color: #FFF;
  padding: inherit;
  cursor: pointer;
}

.nav > li:hover {
  background-color: inherit;
  box-shadow: inset 0px  10px 10px -10px,
              inset 0px -10px 10px -10px;
}

#dropdownMenu2 {
  padding: 15.5px 38px;
}

#db-alpha {
  min-height: 92vh;
}

footer {
  text-align: center;
  padding: 1vh;
  display: block;
  width: auto;
}
