// Place all the styles related to the securities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#editor {overflow:scroll; max-height:300px}

.content {
  padding: 50px
}

/*formatting for info*/

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}

.dropdown .dropdown-menu {
  margin-top: 0; // remove the gap so it doesn't close
}

.dropdown {
  display: inline-block;
}

#dropdownMenu1 {
  float: left;
  margin: 1em;
}

.security-show-sub-info {
  margin-bottom: 0.5em;
}

img.logo {
  width: auto;
  height: 4em;
  margin: auto;
}

/* right side */

.security-show.right {
  padding-top: 2em;
}

/* formatting for rss */

.security-show-sub-rss {
  position: absolute;
}

.security-show-sub-rss:before {
  content:	"";
  display:  block;
  padding-top: 60%;
}

.info-header {
  font-size: 2em;
  font-weight: bold;
  margin: 0.25em;
  padding: 0.5em;
  text-align: center;
  border-bottom: 0.2em solid black;
}

div.article-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 515;
  font-size: 1.3em;
  font-weight: bold;
  padding: 1em;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  background-color: #FFF;
  border-bottom: 0.1em solid black;
}


ul.article-feed {
  padding: 7rem 0 0 0;
  position: absolute;
  top:	 	 	  0px;
  left:  		  0px;
  right:  	  0px;
  bottom:     0px;
  overflow-y: scroll;
}

.article-list-item {
  float: left;
  list-style: none;
  display: block;
  width: 98%;
  font-size: 1.0em;
  background-color: transparent;
  padding: 0.5rem 2em;
  border-radius: .25em;
  // border-bottom:
}

.article-title {
  font-weight: bolder;
}

input.article-title {
  width: auto;
}

.published-date {
  font-size: 0.8em;
  padding-left: 1em;
}

.article-list-item:hover {
  background-color: #eee;
}

/* format for security fundamentals */

li.board-item.red,
li.fundamental-item.red {
  background-color: red;
  transition: background-color 0.2s ease-in;
}

li.board-item.green,
li.board-item:hover,
li.fundamental-item:hover,
li.fundamental-item.green {
  background-color: green;
  transition: background-color 0.2s ease-in;
}

li.board-item {
  transition: background-color 0.5s ease-in;
}

li.fundamental-item {
  background-color: white;
  transition: background-color 0.5s ease-in;
  display: block;
  width: 12em;
  margin: 0.25em;
  padding: 0.5em;
  font-size: 1.0em;
  float: left;
  list-style-type: none;
  border: 1px solid #EEE;
}

ul.fundamental-list:after {
  clear: both;
}

/* format for market show */

.market-view {
  align-items: center;
}

.after-clear:after {
  content:'';
  display:block;
  clear: both;
}

div.market-board {
  background-color: #000;
  padding: 1em;
  text-align: center;
}

ul.market-board {
  padding: 1em;
}

li.board-item {
  display: inline-block;
  height: 12em;
  width: 12em;
  text-align: center;
  list-style: none;
  background-color: #008;
  color: #FFF;
  box-shadow: inset 0px 0px 10em #000;
}

div.board-item {
  display: block;
  height: 16.6%;
}

div.board-item.name {
  overflow: hidden;
  font-size: 0.75em;
}

div.board-item.symbol {
  font-weight: bold;
  font-size: 1.5em;
}

div.board-item.logo {
  height: 33.3%;
  width: 100%;
  padding: 1em 2em;
  display: block;
  margin: auto;
  text-shadow: 0 0 1em #000;
}

div.board-item.logo > img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  vertical-align: middle;
}

div.board-item.change,
div.board-item.last-trade {
  width: 50%;
  float: left;
}

div.board-item.percent-change {
  height: 16.6%;
  width: 100%;
  text-shadow: 0 0 0.1em black;
  font-size: 1.5em;
}
