// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.security-show-links {
  width: 100%;
  background-color: #000;
  margin: 5px;
}
