// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.dbalpha:after {
  content: "dbAlpha";
  color: #00B;
  font-weight: bold;
}

#slideshow-title.overlay1 {
  color: #FFF;
  top: 20px;
  left: 15%;
  width: 70%;
  height: 40px;
  opacity: 1;
  z-index: 10;
  text-align: center;
  font-size: 50px;
  text-shadow: #000 0px 0px 15px;
}

.overlay2 {
  color: #FFF;
  top: 100px;
  left: 15%;
  width: 70%;
  height: 40px;
  display: block;
  position: absolute;
  text-align: center;
  font-size: 14px;
  z-index: 10;
}

#intro {
  min-height: 60vh;
}

.intro.row {
  display: block;
  padding: 40px;
}

.intro.col {
  text-align: center;
}

.intro.col > p {
  text-align: justify;
}

.intro.col > .glyphicon {
  font-size: 40px;
}

.intro.row > .col:nth-of-type(1) > h3,
.intro.row > .col:nth-of-type(1) > .glyphicon {
  color: #A55;
}

.intro.row > .col:nth-of-type(2) > h3,
.intro.row > .col:nth-of-type(2) > .glyphicon {
  color: #A8A857;
}

.intro.row > .col:nth-of-type(3) > h3,
.intro.row > .col:nth-of-type(3) > .glyphicon {
  color: #589358;
}


#slideshow {
  margin: auto;
  position: relative;
  display: block;
  width: 100%;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  overflow: hidden;
}

#slideshow:before{
  content:     "";
  display:     block;
  min-height:  160px;
  transition: height 1s;
}

/*controls slideshow content*/
#slideshow > div {
  position: absolute;
  top:        0px;
  left:       0px;
  right:      0px;
  bottom:     0px;
  opacity:    0;
  transition: opacity 0.5s ease-in-out;
}

#slideshow > div.active {
  opacity:    1;
  transition: opacity 0.5s ease-in-out;
}

#slideshow > div.slide > div {
  text-shadow: #000 0px 0px 1em;
  font-size: 20px;
}

#slideshow > div.slide > img {
  filter: blur(1px) sepia(90%) hue-rotate(180deg);
  -webkit-filter: blur(1px) sepia(90%) hue-rotate(180deg);
  -moz-filter: blur(1px) sepia(90%) hue-rotate(180deg);
  -o-filter: blur(1px) sepia(90%) hue-rotate(180deg);
  -ms-filter: blur(1px) sepia(90%) hue-rotate(180deg);
  width: 100%;
  height: auto;
}
