<div id="slideshow">
	<div class="slide">
		<img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/c_crop,h_1600,w_2400/v1440498595/background/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg" width=100% height=100%>
		<div class="overlay1">Let yourself be a better investor and organize your investment thesis here.</div>
	</div>
	<div class="slide">
		<img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/e_tilt_shift/v1440499178/background/spy.png" width=100% height=100%>
		<div class="overlay1">"Uncertainty is the most certain thing about stock market.... What you really want to do in investments is figure out what is important and knowable." -Warren Buffet</div>
	</div>
	<div class="slide">
		<img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/c_crop,h_1200,w_1800/v1440498558/background/eDLHCtzRR0yfFtU0BQar_sylwiabartyzel_themap.jpg" width=100% height=100%>
		<div class="overlay2">Navigate the vicissitudes of the market, and conquer your emotions.</div>
	</div>
	<div class="slide">
		<img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/v1439571654/warren_buffett_ah25n1.jpg" width=100% height=100%>
		<div class="overlay1">"The most important investment you can make is in yourself. The best asset is your own self. You can become to an enormous degree the person you want to be." -Warren Buffett</div>
	</div>
	<div class="slide">
		<img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/c_limit,h_1600,w_2400/v1440498554/background/photo-1421757295538-9c80958e75b0.jpg" width=100% height=100%>
		<div class="overlay1">A dashboard to see news and updates next to your investment ideas.</div>
	</div>
	<div class="slide">
		<img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/c_scale,w_2400/v1440499885/background/photo-1428677361686-f9d23be145c9.jpg" width=100% height=100%>
		<div class="overlay2">Read. Plan. Action.</div>
	</div>
	<a class="carousel-control left btn-control " href="javascript:void(0)" data-slide="-1"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="carousel-control right btn-control" href="javascript:void(0)" data-slide="1"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<br>

<script>
$(function () {
	new DbAlpha.Views.SlideshowFade( {
		slides: $("#slideshow"),
	} );
})
</script>
