<div id="slideshow-container"></div>

<div id="landing-market-board"></div>

<div id="intro">
  <div class="container">
    <div class="intro row">
      <div class="intro col span4 col-sm-4">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        <h3>Read</h3>
        <h4>Understand the market and its opportunties.</h4>
        <p>
          The Internet presents a lot of information, but in many scattered places. <span class="dbalpha"></span> brings it all to you on one simple dashboard, helping you access the most recent and pertinent information across the web. <br><br>"There's a company behind every stock, and that there's only one real reason why stocks go up. Companies go from doing poorly to doing well or small companies grow to large companies." -- Peter Lynch. <span class="dbalpha"></span> brings those companies' stories to you.
        </p>
      </div>
      <div class="intro col span4 col-sm-4">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <h3>Plan</h3>
        <h4>Journal your analyses and expectations.</h4>
        <p>
          <span class="dbalpha"></span> can help you in this emotional and volatile environment. Be the best investor that you can be. Recognize the psychological aspect of investing, and writing down your analyses and plan can help. Form your own opinions of value, write down your plans, and reflect on mistakes and successes. <span class="dbalpha"></span> provides you with a journaling application and can help you organize your investment plans. <span class="dbalpha"></span> can help you get there.
        </p>
      </div>
      <div class="intro col span4 col-sm-4">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        <h3>Act</h3>
        <h4>Act with confidence when opportunities arise.</h4>
        <p>
          "Price is what you pay; value is what you get." -- Benjamin Graham. <span class="dbalpha"></span> can help you get that value when the price is right. Journaling is one of the best tools to prepare you for the right moment. <br><br>"The real key to making money in stocks is not to get scared out of them." -- Peter Lynch. When market violatility picks up, <span class="dbalpha"></span> reminds you of your initial investment thesis.
        </p>
      </div>
    </div>
    <div class="intro row">
      <h4 class="intro col span12">
        You can check around with a guest account:
        <br>click on "Sign In" to continue.
      </h3>
    </div>
  </div>
</div>
