<div id="slideshow">
  <div class="slide">
    <img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/c_crop,h_1600,w_2400/v1440498595/background/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg" width=100% height=100%>
    <div class="overlay1">Let yourself be a better investor and organize your investment thesis here.</div>
  </div>
  <div class="slide">
    <img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/e_tilt_shift/v1440499178/background/spy.png" width=100% height=100%>
    <div class="overlay1">"Uncertainty is the most certain thing about stock market.... What you really want to do in investments is figure out what is important and knowable." -Warren Buffet</div>
  </div>
  <div class="slide">
    <img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/c_crop,h_1200,w_1800/v1440498558/background/eDLHCtzRR0yfFtU0BQar_sylwiabartyzel_themap.jpg" width=100% height=100%>
    <div class="overlay2">Navigate the vicissitudes of the market, and conquer your emotions.</div>
  </div>
  <div class="slide">
    <img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/v1439571654/warren_buffett_ah25n1.jpg" width=100% height=100%>
    <div class="overlay1">"The most important investment you can make is in yourself. The best asset is your own self. You can become to an enormous degree the person you want to be." -Warren Buffett</div>
  </div>
  <div class="slide">
    <img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/c_limit,h_1600,w_2400/v1440498554/background/photo-1421757295538-9c80958e75b0.jpg" width=100% height=100%>
    <div class="overlay1">A dashboard to see news and updates next to your investment ideas.</div>
  </div>
  <div class="slide">
    <img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/c_scale,w_2400/v1440499885/background/photo-1428677361686-f9d23be145c9.jpg" width=100% height=100%>
    <div class="overlay2">Read. Plan. Action.</div>
  </div>
  <a class="carousel-control left btn-control " href="javascript:void(0)" data-slide="-1"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="carousel-control right btn-control" href="javascript:void(0)" data-slide="1"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div id="intro">
  <div class="container">
    <div class="intro row">
      <div class="intro col span4 col-sm-4">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        <h3>Read</h3>
        <h4>Understand the market and its opportunties.</h4>
        <p>
          The Internet presents a lot of information, but in many scattered places. <span class="dbalpha"></span> brings it all to you on one simple dashboard, helping you access the most recent and pertinent information across the web. <br><br>"There's a company behind every stock, and that there's only one real reason why stocks go up. Companies go from doing poorly to doing well or small companies grow to large companies." -- Peter Lynch. <span class="dbalpha"></span> brings those companies' stories to you.
        </p>
      </div>
      <div class="intro col span4 col-sm-4">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <h3>Plan</h3>
        <h4>Journal your analyses and expectations.</h4>
        <p>
          <span class="dbalpha"></span> can help you in this emotional and volatile environment. Be the best investor that you can be. Recognize the psychological aspect of investing, and writing down your analyses and plan can help. Form your own opinions of value, write down your plans, and reflect on mistakes and successes. <span class="dbalpha"></span> provides you with a journaling application and can help you organize your investment plans. <span class="dbalpha"></span> can help you get there.
        </p>
      </div>
      <div class="intro col span4 col-sm-4">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        <h3>Act</h3>
        <h4>Act with confidence when opportunities arise.</h4>
        <p>
          "Price is what you pay; value is what you get." -- Benjamin Graham. <span class="dbalpha"></span> can help you get that value when the price is right. Journaling is one of the best tools to prepare you for the right moment. <br><br>When market violatility picks up, <span class="dbalpha"></span> reminds you of your initial investment thesis. "The real key to making money in stocks is not to get scared out of them." -- Peter Lynch.
        </p>
      </div>
    </div>
    <div class="intro row">
      <h4 class="intro col span12">
        You are cordially invited to sign up and engage with a community of investors.
        <br>Or, check around with a guest account - click on "Sign In" to continue.
      </h3>
    </div>
  </div>
</div>

<script>
$(function () {
  new DbAlpha.Views.SlideshowFade( {
    slides: $("#slideshow"),
  } );
})
</script>
