<div id="slideshow">
	<div class="slide">
		<img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/v1439571650/ben_graham_rpthzv.jpg" width=100% height=100%>
		<div class="overlay2">“Those who do not remember the past are condemned to repeat it... On the other hand, investing is a unique kind of casino—one where you cannot lose in the end, so long as you play only by the rules that put the odds squarely in your favor.” ― Benjamin Graham, The Intelligent Investor</div>
	</div>
	<div class="slide">
		<img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/v1439571656/park_pxp4d6.jpg" width=100% height=100%>
		<div class="overlay1">"Uncertainty is the most certain thing about stock market.... What you really want to do in investments is figure out what is important and knowable."
			<br>This application aims to help you interact with the market intelligently.</div>
	</div>
	<div class="slide">
		<img src="http://res.cloudinary.com/dwlxp9sf7/image/upload/v1439571654/warren_buffett_ah25n1.jpg" width=100% height=100%>
		<div class="overlay1">"The most important investment you can make is in yourself. The best asset is your own self. You can become to an enormous degree the person you want to be." -Warren Buffett</div>
	</div>
	<a class="carousel-control left btn-control " href="javascript:void(0)" data-slide="-1"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="carousel-control right btn-control" href="javascript:void(0)" data-slide="1"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<br>

<script>
$(function () {
	new DbAlpha.Views.SlideshowFade( {
		slides: $("#slideshow"),
		interval: 5000
	} );
})
</script>
