<a class="carousel-control left btn-control " href="javascript:void(0)" data-slide="-1"><span class="glyphicon glyphicon-chevron-left"></span></a>
<a class="carousel-control right btn-control" href="javascript:void(0)" data-slide="1"><span class="glyphicon glyphicon-chevron-right"></span></a>
<div class="overlay1 text" id="slideshow-title">Dashboard Alpha</div>
