<div class="board-item symbol"><%= model.escape("symbol") %></div>
<div class="board-item name"><span><%= model.escape("name") %></span></div>

<div class="board-item logo">
    <img class="board-item" src="<%= model.escape("image") %>" alt="<%= model.escape("name") %>"/>
</div>

<div class="board-item percent-change">
</div>

<div class="board-item change">
</div>

<div class="board-item last-trade">
</div>
