<div class="row market-view title">
  <h1 class="col-md-offset-2 col-md-8">Dow Jones Industrial Average</h1>
</div>
<div class="row market-view information"></div>

<ul class="market-board-rows"></ul>
