<!DOCTYPE html>
<html>
<head>
  <title>dbAlpha</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="nav-bar-js"></div>
<div class="container-fluid" id='db-alpha'></div>


<script>
  $(function () {
    DbAlpha.Views.navbar = new DbAlpha.Views.Navbar({el: $("div.nav-bar-js")});
    Backbone.history.start();
  })
</script>


</body>
</html>
